<!-- A suggested security mechanism was to use 2FA. Whilst the proposal suggested text based 2FA,
an authenticator app is used instead. This is due to no need to pay for licensing or subscription fees --> 
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
	<body>
                <div class = "header">
                        <h1>Welcome to Colchester Groceries!</h1>
                </div>
{% block app_content %}
<div class="row">
<center>
        <p>
            Colchester Groceries has chosen to use 2FA (two factor authentication) to ensure your security!
        </p>
        <p> 
            Please download your preferred authentication app on your smartphone and scan the QR code below. Once scanned, your app will provide a 6 digit token to enter when you login. Google Authenticator was used in testing.
        </p>
        <p>
            <img id="qr-code" src="{{ url_for('qr_code') }}" alt="QR Code" />
        </p>
        <p>
            Once scanned, you can <a class="btn" href="{{ url_for('login') }}">Login</a>
        </p>
</center>
    </div>
</div>
{% endblock %}
</html>